@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="card-container" >
    <div class="card" style="background-color: transparent;">
        <h1 class="text-danger">Oops! Something went wrong.</h1>
        <h2>We apologize for the inconvenience.</h2>
        <p>An unexpected error occurred while processing your request. Please try again later.</p>
        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> @Model.RequestId
            </p>
        }

        <div class="error-icon text-center">
            <img src="~/images/error-icon.png" alt="Error icon" style="width: 70px;height: 70px;" />
        </div>

        
        <div class="text-center">
            <a href="/" class="btn btn-primary" style="width:auto"><i class="fa-solid fa-house"></i> Home</a>
            <a href="javascript:history.back()" class="btn btn-secondary" style="width:auto"><i class="fa-solid fa-arrow-left"></i> Go Back</a>
        </div>
        
    </div>
</div>