@model FlightTicketManager.Data.Entities.City

@{
    ViewData["Title"] = "Add City";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="card-container">
    <div class="card">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CountryCode" class="control-label"></label>
                <input asp-for="CountryCode" class="form-control" />
                <span asp-validation-for="CountryCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success" style="width: auto">
                    <i class="fa-solid fa-plus"></i> Add City
                </button>
                <a asp-action="Index" class="btn btn-secondary" style="width: auto">
                    <i class="fa-solid fa-arrow-left"></i> Back to Cities
                </a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
