@model FlightTicketManager.Models.AircraftViewModel

@{
    ViewData["Title"] = "Add Aircraft";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="card-container">
    <div class="card">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <partial name="_Aircrafts" />

            <div class="form-group">
                <button type="submit" class="btn btn-success" style="width: auto">
                    <i class="fa-solid fa-plus"></i> Add Aircraft
                </button>
                <a asp-action="Index" class="btn btn-secondary" style="width: auto">
                    <i class="fa-solid fa-arrow-left"></i> Back to Aircrafts
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
