@model FlightTicketManager.Data.Entities.Aircraft

@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure you want to delete this?</h1>

<div>
    <partial name="_AircraftsDetailsDelete" />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </form>
</div>
