@model FlightTicketManager.Data.Entities.Aircraft

@{
    ViewData["Title"] = "Details";
}

<h1>Aircraft Details</h1>

<div>
    <partial name="_AircraftsDetailsDelete" />

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>

