@model FlightTicketManager.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="card-container">
    <div class="card" style="background-color:transparent">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="OldPassword">Current Password</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                    </div>
                    <input asp-for="OldPassword" type="password" class="form-control" placeholder="Enter current password" />
                </div>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword">New Password</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                    </div>
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="Enter new password" />
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Confirm">Confirm Password</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                    </div>
                    <input asp-for="Confirm" type="password" class="form-control" placeholder="Confirm new password" />
                </div>
                <span asp-validation-for="Confirm" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success" style="width:auto">
                    <i class="fa-solid fa-key"></i> Change Password
                </button>
                <a asp-action="ChangeUser" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Back to User</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}