@model FlightTicketManager.Models.LoginViewModel;

@{
    ViewData["Title"] = "Login";
}

<div class="card-container" style="justify-content: flex-start; margin: 50px;">
    <div class="card" style="background-color:transparent">
        <h2 class="card-title text-center">@ViewData["Title"]</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Username">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                    </div>
                    <input asp-for="Username" class="form-control" placeholder="Enter your username" />
                </div>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                    </div>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password" id="password" />
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="d-inline-flex" style="margin-bottom: 15px">
                @* <div class="form-check mr-2">
                    <ejs-checkbox id="showPasswordCheckbox" label="Show Password" change="onShowPasswordChange"></ejs-checkbox>
                </div> *@
                <div class="form-check">
                    <ejs-checkbox style="background-color: black" id="RememberMe" label="Remember Me?" name="RememberMe" value="true" checked="@(Model?.RememberMe ?? false)"></ejs-checkbox>
                </div>
            </div>
            <span asp-validation-for="RememberMe" class="text-danger"></span>

            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-right-to-bracket"></i> Login
                </button>
                <a asp-action="Register" class="btn btn-primary" style="width:auto"><i class="fa-solid fa-address-card"></i> Register New User</a>
            </div>

            <div class="form-group">
                <a asp-action="RecoverPassword" class="btn btn-link">Forgot your password?</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @* <script>
        // Syncfusion Checkbox Change event handler
        function onShowPasswordChange(args) {
            var input = document.getElementById('password');
            input.type = args.checked ? 'text' : 'password'; // Toggle visibility
        }
    </script> *@
}