@model FlightTicketManager.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="card-container">
    <div class="card" style="background-color:transparent">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                    </div>
                    <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success" style="width:auto">
                    <i class="fa-solid fa-unlock"></i> Recover Password
                </button>
                <a asp-action="Login" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Back to Login</a>
            </div>
        </form>
        <div class="text-success">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}