
@{
    ViewData["Title"] = "User Not Found";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-1 text-danger">User Not Found</h1>
            <p class="lead mb-4">
                We're sorry, but the user you're looking for could not be found.
                This may happen if the link is broken or the user no longer exists in the system.
            </p>

            <a href="~/Home/Index" class="btn btn-primary mt-2" style="width:auto">
                <i class="fas fa-home"></i> Homepage
            </a>
            <a href="~/Account/Login" class="btn btn-secondary mt-2" style="width:auto">
                <i class="fa-solid fa-right-to-bracket"></i> Go to Login
            </a>
        </div>
    </div>
</div>
